body {
  min-height: 100vh;
  margin: auto;
  background: #2C2B3D;
  
  font-family: 'JetBrains Mono', monospace;
}

.page {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  align-items: center;

}

nav {
  padding-top: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 64px;

  padding: 0px;
  list-style: none;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
}

ul li a, h1, footer {
  color: #FFFFFF;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 82px;

  margin-top: 100px;
  margin-left: 99px;
  margin-right: 89px;
}

#mainText {
  text-align: center;
  align-items: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #888393;
  line-height: 28px;

  margin-top: 57px;
}

p span {
  color: #00BFA6;
  font-weight: bold;
}

strong {
  color: #C2C2C2;
}

h1 span {
  color: #00BFA6;
}

.line {
  width: 568px;
  height: 0px;
  border: 1px solid #00BFA6;
  margin: 157px auto 27px;
}

footer {
  text-align: center;
}

footer a {
  color: rgb(231, 231, 231);
  text-decoration: none;
}

footer a, ul li a:hover {
  font-weight: bold;
}

#padlock {
  position: fixed;
  bottom: 270px;
  left: 260px;
}